.login-card {
    width: 500px;
    max-height: 470px;
    margin: 0 auto;
    background: #fff;
    padding: 50px;
    box-sizing: border-box;
    overflow: hidden;
	box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.34);
    border-radius: 5px;
}

.login-card-title {
    text-align: center;
    color: #444444;
    margin-top: 0px;
    font-size: 23px;
    padding-bottom: 30px;
    border-bottom: solid 1px #DAE4EC;
}

.content-app-login {
	background-color: gray;
	height: 100vh;
	background-image: url(/assets/img/bg.jpg);
	background-size: cover;
    padding-top: 80px;
    box-sizing: border-box;
}

.login-input {
    width: 100%;
    margin-top: 35px;
}

.terms-content {
    text-align: center;
    margin: 25px 17px 34px;
    color: #BCC9D2;
    line-height: 22px;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 10px;
    position: absolute;
    left: 50%;
    margin-left: -41px;
}

.message {
    text-align: center;
    color: #666;
    font-size: 28px;
}

@media(max-width: 550px){
	.content-app-login {
	    padding-top: 0;
	}

	.login-card {
		width: 100%;
	    padding: 41px 30px;
	    height: 100vh;
	}
}
